nav {
  display: flex;
  width: 100vw;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;

  color: #333333;

  border-bottom: 1px solid #333333;
  padding-bottom: 12px;
  padding-top: 12px;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.active {
  color: blue;
}

ul {
  display: flex;
  align-self: center;
  gap: 24px;
  list-style: none;
}

a {
  text-decoration: none;
}

li {
  text-transform: capitalize;
  font-size: 24px;
}

button {
  width: 120px;
  height: 36px;
  margin-right: 40px;
  border-radius: 4px;
  background: none;
  border: 1px solid blue;
  color: blue;
  cursor: pointer;

  transition: all 0.1s ease-in-out;

  &:hover {
    background: blue;
    color: white;
  }
}
