<form class="todo-add" [formGroup]="addTodoForm" (ngSubmit)="create()" >
  <input
    type="text"
    placeholder="Enter title new task..."
    formControlName="title"
  />
  <select
    formControlName="status"
  >
    <option value="{{TodoStatus.Normal}}">Normal</option>
    <option value="{{TodoStatus.Important}}">Important</option>
    <option value="{{TodoStatus.Completed}}">Completed</option>
  </select>
  <button
    type="submit"
    [disabled]="addTodoForm.invalid"
  >
    Create task
  </button>
</form>
